[submodule "restclient"]
	path = .emacs.d/vendor/restclient
	url = https://github.com/pashky/restclient.el
[submodule "protobuf-mode"]
	path = .emacs.d/vendor/protobuf-mode
	url = https://github.com/emacsmirror/protobuf-mode
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = https://gitee.com/liujiacai/magit.git
[submodule ".emacs.d/vendor/aweshell"]
	path = .emacs.d/vendor/aweshell
	url = https://gitee.com/liujiacai/aweshell.git
[submodule ".emacs.d/vendor/lsp-mode"]
	path = .emacs.d/vendor/lsp-mode
	url = https://gitee.com/liujiacai/lsp-mode.git
[submodule ".emacs.d/vendor/pbcopy"]
	path = .emacs.d/vendor/pbcopy
	url = https://github.com/emacsfodder/pbcopy.el.git
