[submodule "restclient"]
	path = .emacs.d/vendor/restclient
	url = https://github.com/pashky/restclient.el
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = https://gitee.com/liujiacai/magit.git
[submodule ".emacs.d/vendor/aweshell"]
	path = .emacs.d/vendor/aweshell
	url = https://gitee.com/liujiacai/aweshell.git
[submodule ".emacs.d/vendor/lsp-mode"]
	path = .emacs.d/vendor/lsp-mode
	url = https://gitee.com/liujiacai/lsp-mode.git
[submodule ".emacs.d/vendor/lsp-treemacs"]
	path = .emacs.d/vendor/lsp-treemacs
	url = https://gitee.com/liujiacai/lsp-treemacs.git
[submodule ".emacs.d/vendor/no-littering"]
	path = .emacs.d/vendor/no-littering
	url = https://gitee.com/liujiacai/no-littering.git
[submodule ".emacs.d/vendor/git-link"]
	path = .emacs.d/vendor/git-link
	url = https://github.com/jiacai2050/git-link.git
[submodule ".emacs.d/vendor/smartparens"]
	path = .emacs.d/vendor/smartparens
	url = https://gitee.com/liujiacai/smartparens.git
[submodule ".emacs.d/vendor/company-tabnine"]
	path = .emacs.d/vendor/company-tabnine
	url = https://gitee.com/liujiacai/company-tabnine.git
[submodule ".emacs.d/vendor/company-mode"]
	path = .emacs.d/vendor/company-mode
	url = https://gitee.com/liujiacai/company-mode.git
[submodule ".emacs.d/vendor/company-c-headers"]
	path = .emacs.d/vendor/company-c-headers
	url = https://gitee.com/liujiacai/company-c-headers.git
[submodule ".emacs.d/vendor/native-shell-complete"]
	path = .emacs.d/vendor/native-shell-complete
	url = https://gitee.com/liujiacai/emacs-native-shell-complete.git
[submodule ".emacs.d/vendor/easy-hugo"]
	path = .emacs.d/vendor/easy-hugo
	url = https://gitee.com/liujiacai/emacs-easy-hugo.git
