/.recentf
.smex-items
smex-items
/cider-history
/elpa/
/ido.last
/.backups
/auto-save-list
/.autosaves
/projectile-bookmarks.eld
.mc-lists.el
/project-explorer-cache/
/eshell/
/games/
/data/
.persistent-scratch*
/cnfonts
.custom.el
customizations/misc.el
transient/
tutorial/
/customizations/flycheck_editing.el
.lsp-session*
flycheck*
.helm-chronos-recent-timers
logview-cache.extmap
.places
/.url
/.cask
/.cache